.order-summery {    
    a {
        text-decoration: none;
        color: #131f97;
        font-size: 14px;
        font-weight: 600;
    }
    button{
        background-color: #131f97;
        border-radius: 25px;
        font-size: 14px;
        text-transform: uppercase;
        padding: 10px 25px;
    }

    .total {

        .col-lg-6 {}


    }
}